AWS_REGION=eu-central-1
AQARI_ENVIRONMENT=development
AQARI_PROPERTIES_TABLE_NAME=replace_after_deployment
AQARI_IMAGES_BUCKET_NAME=replace_after_deployment
AQARI_BEDROCK_MODEL_ID=replace_after_model_selection
LOG_LEVEL=INFO
